// These colors are specific to the theme. Do not use in a package!

@ghost-white: #F8F8F0;
@light-ghost-white: #F8F8F2;
@light-gray: #CCC;
@gray: #888;
@brown-gray: #3d3d3d;
@dark-gray: #202020;
@var-gray: #6d6d6d;
@multiline-comment: #3465A4;
@constant-blue: #0082FF;
@punc: #6AD5FF;
@selection-blue: #185f86;
@type-blue: #00A5FF;
@line-number: #585858;

@white: #FFFFFF;
@cyan: #00F2FF;
@yellow: #E6DB74;
@dark-green: #4e651d;
@blue: #6ad7ff;
@pink: #F92672;
@purple: #CD71DC;
@brown: #75715E;
@orange: #ffa500;
@light-orange: #FFD569;
@green: #bdff00;
@sea-green: #529B2F;
